.HomeScreen {
    padding: 10px;
  }
  
  .logo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    background-color: lightgray;
    width: 90%;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
  }
  
  .logo-card {
    border: 1px solid #ccc;
    padding: 20px;
    cursor: pointer;
    height: 150;
    border-radius:15px;
    display: flex;
    color: gray;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }


@media (max-width: 1200px) {
    .logo-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 992px) {
    .logo-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .logo-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 576px) {
    .logo-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  .brand-names {
    font-size: 16px;
  }
  .More-names
  {
    font-size: 16px;
    color: purple;
  }

  
  .More-names:hover {
    color: #0056b3; 
  }
  .form-container {
    margin-top: 20px;
  }
  